In [84]:
import pandas as pd
import numpy as np
import random

In [51]:
df = pd.read_csv("../data/data_processed_cleaned.csv")
df['date'] = pd.to_datetime(df['date'], format='%Y/%m/%d %H:%M')

df['fve'] = df['fve'] * 0.05
df['mve'] = df['mve'] * 0.1
df['wpg'] = df['wpg'] * 0.1

df['production_usage'] = df['fve'] + df['mve'] + df['wpg']

In [52]:
df.head()

,date,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
0,2020-01-01 00:00:00,17.804,40.560,18.040,0.0,270.820,9.012,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577837e+09,0.999963,-0.008601
1,2020-01-01 00:15:00,12.960,42.120,17.132,0.0,293.906,8.954,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577838e+09,0.999965,-0.008422
2,2020-01-01 00:30:00,12.940,41.808,16.244,0.0,292.367,8.132,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577839e+09,0.999966,-0.008243
3,2020-01-01 00:45:00,13.100,41.808,15.964,0.0,291.428,7.489,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577840e+09,0.999967,-0.008064
4,2020-01-01 01:00:00,17.800,41.808,20.932,0.0,295.406,7.386,30.4,0,1,...,-8.4,3,1,1,1,0.965926,0.258819,1.577840e+09,0.999969,-0.007884

In [88]:
columns_to_modify = ['shops', 'office_building', 'industrial_park', 'fve', 'mve','wpg','wind', 'temp']
not_negative = ['shops', 'office_building', 'industrial_park', 'fve', 'mve','wpg']
mod_df = df.copy()
for c in columns_to_modify:
    
    
    mod_df[c] = df[c].apply(lambda x : x*1.1if random.randint(0, 1) == 1 else x*0.9 )

# for c in not_negative:
#     mod_df[c] = mod_df[c].apply(lambda x : 0 if x < 0 else x)

In [89]:
mod_df.head()

,date,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
0,2020-01-01 00:00:00,16.0236,44.6160,19.8440,0.0,243.7380,8.1108,33.2,0,1,...,-7.20,2.7,0,1,1,1.000000,0.000000,1.577837e+09,0.999963,-0.008601
1,2020-01-01 00:15:00,11.6640,37.9080,15.4188,0.0,264.5154,8.0586,33.2,0,1,...,-7.20,3.3,0,1,1,1.000000,0.000000,1.577838e+09,0.999965,-0.008422
2,2020-01-01 00:30:00,11.6460,45.9888,14.6196,0.0,263.1303,7.3188,33.2,0,1,...,-7.20,3.3,0,1,1,1.000000,0.000000,1.577839e+09,0.999966,-0.008243
3,2020-01-01 00:45:00,11.7900,37.6272,14.3676,0.0,320.5708,8.2379,33.2,0,1,...,-8.80,3.3,0,1,1,1.000000,0.000000,1.577840e+09,0.999967,-0.008064
4,2020-01-01 01:00:00,16.0200,37.6272,23.0252,0.0,265.8654,6.6474,30.4,0,1,...,-9.24,3.3,1,1,1,0.965926,0.258819,1.577840e+09,0.999969,-0.007884

In [90]:
df.head()

,date,shops,office_building,industrial_park,fve,mve,wpg,price,isWeekend,isHoliday,...,temp,wind,hour,day,month,day_cos,day_sin,timestamp,month_cos,month_sin
0,2020-01-01 00:00:00,17.804,40.560,18.040,0.0,270.820,9.012,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577837e+09,0.999963,-0.008601
1,2020-01-01 00:15:00,12.960,42.120,17.132,0.0,293.906,8.954,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577838e+09,0.999965,-0.008422
2,2020-01-01 00:30:00,12.940,41.808,16.244,0.0,292.367,8.132,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577839e+09,0.999966,-0.008243
3,2020-01-01 00:45:00,13.100,41.808,15.964,0.0,291.428,7.489,33.2,0,1,...,-8.0,3,0,1,1,1.000000,0.000000,1.577840e+09,0.999967,-0.008064
4,2020-01-01 01:00:00,17.800,41.808,20.932,0.0,295.406,7.386,30.4,0,1,...,-8.4,3,1,1,1,0.965926,0.258819,1.577840e+09,0.999969,-0.007884

In [91]:
mod_df.to_csv("../data/data_processed_cleaned_fake.csv",index=False)